{% extends 'polls/layout.html' %}
{% load bootstrap4 %}
  {% bootstrap_css %}

{% block title %}Login{% endblock %}
{% block content %}
<body style="background-color:#333;">
<div class="container">
  <br><br>
<div class="jumbotron">

{% if user == None %}
{% bootstrap_alert content %}
{% bootstrap_alert "Your username and password didn't match." alert_type='error' %}
{% endif %}
  <h2>Login</h2>
  <br>
  <form method="POST" action ="{% url 'polls:login' %}" >
    <div class="form-group">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Login</button>
    {% endbuttons %}
    <div class="card-footer text-muted text-left">
    <a href= "{% url 'polls:password_reset' %}">Forgot your password?</a>
  </div>
    </div>
  </form>
</div></div>
{% endblock %}