{% extends 'polls/dashboardlayout.html' %}
   
{% block content %}
<div class="jumbotron">
<button id="cbutton1" class="btn-primary" data-toggle="modal" data-target="#basicModal1" >CREATE SURVEY</button>
<div class="modal fade" id="basicModal1" role="dialog">
</div>
{% if survey_list %}
<br><br>
<h3><u>MY SURVEYS</u></h3>
<div class="container">
<ol>
    {% for survey in survey_list %}
    <li>
    	<h4>Title: {{ survey.title }}</h4>
    	<h4>Modified: {{ survey.modified }}</h4>
    	<h4>Responses: {{ survey.responses }}</h4>
    <br><br>
    <a href = "{% url 'polls:editsurvey' survey.id %}" class="btn-primary">EDIT Survey</a>
    &nbsp;
    <a href = "{% url 'polls:deletesurvey' survey.id %}" class="btn-primary">DELETE Survey</a>
    <br><br><br>
    {% endfor %}
</ol>

{% else %}
<br><br>
<p>No surveys are available.</p>
{% endif %}
</div>
</div>
{% endblock %}