{% extends 'polls/layout.html' %}

{% block content %}
<div class="jumbotron">
<div class="container">
  <h2>Sign up</h2>
  <br>
  <form method="POST">
    <div class="form-group">
    {% csrf_token %}
    {{ form.as_p }}


<br>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LeM4lMUAAAAAHKHccmyRH2-r_S_oCH7dMcp9J3-"></div>
    <br>
    <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </form>
</div></div>
{% endblock %}