{% load bootstrap4 %}
<nav class="navbar fixed-top navbar-inverse">
  <div class="container">
    {% if user.is_authenticated %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'polls:home' %}">Dashboard</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
  <li><a href="{% url 'polls:mypolls' %}"><span class="si-glyph-home-page"></span>My Polls</a></li>
<li><a href="{% url 'polls:surveys' %}"><span class="glyphicon glyphicon-th-list"></span> Form</a></li>
<li><a href="{% url 'polls:mysurveys' %}"></span> My Surveys</a></li>
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user">
          {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'polls:change_password' %}">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'polls:logout' %}"><span class="glyphicon glyphicon-home">Logout</a>
        </div>
      </li>
    </ul>


    <div class="collapse navbar-collapse" id="main-menu">
    </div>
    <div class="collapse navbar-collapse" id="main-menu">
          </div>
          {% else %}
<h3> You are not logged in </h3>
{% endif %}<!--/.nav-collapse -->
  </div>
</nav>